.vitamintextimg{
    opacity: 1;
    filter: grayscale(100%);
}
@media screen and (max-width: 767px) {

    /* Your CSS rules for mobile devices go here */
    /* Example: */
    .footerborder {
        background: rgb(226, 173, 17);
        background: linear-gradient(90deg, rgba(226, 173, 17, 1) 50%, rgba(226, 173, 17, 1) 72%);
    }
}